/* productos */
/* encabezado producto */
.producto-contenido {
  font-size: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1%; }

.titulo-producto {
  font-size: 1.5em;
  padding: 1%; }

.producto-centro {
  font-size: 1.5em;
  padding-bottom: 1%; }

/* producto ropa */
.ordenado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  margin-bottom: 2%; }

.producto-centro {
  text-align: center;
  font-size: 1.8em; }

.estilo-a {
  width: 33%;
  margin-right: 2%; }
  .estilo-a a {
    text-decoration: none;
    color: black;
    font-size: 1em; }
    .estilo-a a :hover {
      text-decoration: underline; }
  .estilo-a .img-container {
    overflow: hidden;
    height: 400px;
    position: relative; }
    .estilo-a .img-container img {
      width: 300px;
      position: absolute;
      transition: all 0.5s; }
    .estilo-a .img-container .promo {
      position: absolute;
      top: 0.5em;
      left: 0;
      font-size: 0.8em;
      background: black;
      padding: 0.8em;
      color: white;
      border-bottom-right-radius: 1.4em;
      border-top-right-radius: 1.4em; }

/* nosotros */
.titulo-nosotros {
  font-size: 1.8em;
  display: flex;
  padding: 1%; }

.grid-conteiner-nosotros {
  display: flex;
  align-items: center;
  padding: 1%; }

.skate-a {
  width: 41%;
  display: flex;
  flex-wrap: wrap; }

/* mision */
.grid-conteiner-nosotros-a {
  display: flex;
  align-items: center; }

.mision-titulo {
  font-size: 1.8em;
  align-items: flex-start;
  padding: 1%; }

.skate-b {
  width: 40%;
  display: flex;
  padding: 1%; }

/* vision */
.vision-titulo {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 2%; }

.contenido-vision {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 2%; }

.nosotros-d {
  width: 100%;
  height: auto; }

/* galeria */
.titulo-parrafo-galeria h1 {
  text-align: center;
  font-size: 1em;
  padding-top: 1em; }

.titulo-parrafo-galeria p {
  font-size: 1em;
  text-align: center; }

/* imagenes de galeria */
.wrap {
  display: flex;
  flex-wrap: wrap; }

.imagen {
  width: 100%; }
  .imagen img {
    width: 100%; }

.galeria-a {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem; }

/* contacto */
.titulo-contacto {
  text-align: center;
  font-size: 1.6em;
  padding-top: 1em; }

.contenido-contacto {
  text-align: center;
  font-size: 1em; }

/* redes sociales contacto */
.svg-conteiner {
  padding: 1.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto; }
  .svg-conteiner a svg {
    color: black;
    width: 70%; }
  .svg-conteiner a :hover {
    color: gray; }

/* formulario de contacto */
.info-contact {
  text-align: center;
  font-size: 1em; }

article .contenedor .form {
  background-color: black;
  width: 100%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
  color: white; }
  article .contenedor .form .form-label {
    display: block;
    font-size: 16px;
    position: relative; }
  article .contenedor .form .form-input .form-textarea {
    background-color: black;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    width: 100%; }
  article .contenedor .form .form-textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
    width: 100%; }
  article .contenedor .form .btn-submit {
    width: 100%;
    outline: none;
    font-size: 16px;
    border: none;
    padding: 15px 0;
    cursor: pointer;
    background-color: white;
    color: black; }
  article .contenedor .form .form-header .form-title {
    font-weight: normal;
    text-align: center;
    padding: 1em 0; }

.ubicacion {
  text-align: center;
  font-size: 1.6em;
  padding-top: 1%; }

.mapa {
  width: 100%;
  height: 80%;
  padding-top: 1%; }

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid: gap 1em;
    padding: 2, 1em 0em; } }

@media (min-width: 320px) and (max-width: 480px) {
  /* barra */
  header h2 {
    font-size: 0.9em; }
  header nav {
    font-size: 0.9em; }
  .logo {
    align-items: center; }
    .logo img {
      width: 1.5em;
      height: auto; }
  /* pie de pagina */
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid: gap 1em;
    padding: 2, 1em 0em; }
    .pie-pagina .grupo-1 .box figure img {
      width: 3em; }
    .pie-pagina .grupo-1 .box .comunicate {
      font-size: 0.5em;
      text-align: center; }
    .pie-pagina .grupo-1 .box .follow {
      font-size: 0.5em;
      text-align: center; }
    .pie-pagina .grupo-1 .box p {
      font-size: 0.5em;
      text-align: center; }
    .pie-pagina .grupo-1 .box .red-social {
      display: flex;
      justify-content: space-around; }
      .pie-pagina .grupo-1 .box .red-social a {
        width: 0.5em;
        height: 0.5em;
        font-size: 0.6em;
        text-align: center;
        background-color: black; }
  .pie-pagina .grupo-2 {
    font-size: 0.4em; }
  /* nosotros */
  .titulo-nosotros {
    font-size: 1em;
    display: flex;
    padding-left: 35%; }
  .grid-conteiner-nosotros {
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1%; }
  .skate-a {
    width: 60%;
    padding: 1%; }
  .mision-titulo {
    text-align: center;
    font-size: 1em; }
  .skate-b {
    width: 60%;
    display: flex;
    padding: 1%; }
  .grid-conteiner-nosotros-a {
    font-size: 0.6em;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 1%; }
  .vision-titulo {
    font-size: 1em;
    text-align: center; }
  .contenido-vision {
    font-size: 0.6em; }
  /* galeria */
  .titulo-parrafo-galeria h1 {
    font-size: 1em; }
  .titulo-parrafo-galeria p {
    font-size: 0.6em; }
  /* producto */
  .titulo-producto {
    font-size: 0.1em; }
  .producto-contenido {
    font-size: 0.6em; }
  .producto-centro {
    font-size: 0.6em; }
  .estilo-a .img-container {
    height: 20em;
    display: flex;
    justify-content: center;
    transform: translateX(-1.3em); }
    .estilo-a .img-container .img-container img {
      width: 100%; }
    .estilo-a .img-container p {
      font-size: 0.5em; }
    .estilo-a .img-container strong {
      font-size: 0.5em; }
    .estilo-a .img-container .promo {
      font-size: 0.5em;
      padding: 0.4em; }
  .estilo-a a {
    font-size: 0.5em;
    text-align: start; }
  /* index */
  section .titulo-centro {
    font-size: 1em; }
  section .grid-conteiner {
    width: 98%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 0.5em; }
  .skull-black {
    width: 40%; }
  .skull-black-ad {
    width: 40%;
    margin-top: 3%; }
  .grid-conteiner-inicio {
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.5em;
    align-items: center;
    text-align: center;
    margin-bottom: 2em; }
  .titulo-b {
    font-size: 1em;
    text-align: center;
    margin-top: 3%; }
  /* contacto */
  .titulo-contacto {
    font-size: 0.8em;
    padding-top: 1em; }
  .svg-conteiner {
    width: 100%;
    padding-left: 3.5em; }
    .svg-conteiner a svg {
      width: 50%;
      padding-right: 10%; }
  .contenido-contacto {
    font-size: 0.6em; }
  .info-contact {
    font-size: 0.6em; }
  .contenedor .form {
    font-size: 0.6em;
    width: 90%; }
  .ubicacion {
    font-size: 0.8em; } }

* {
  font-family: 'Krona One', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* reset */
/* barra navegacion */
.navbar-brand {
  align-items: center; }
  .navbar-brand img {
    width: 3.4em; }

.navbar-nav a {
  color: black; }

.conteiner-fluid .navbar-nav {
  display: flex;
  justify-content: space-between; }

nav a :hover {
  color: grey; }

/* banner */
.banner {
  width: 100%; }

/* encabezado 1 */
.titulo-centro {
  text-align: center;
  font-size: 1.8em;
  padding-top: 1em; }

.skull-black {
  width: 40%;
  padding: 1%;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap; }

.grid-conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  flex-direction: row-reverse; }
  .grid-conteiner p {
    font-size: 1.2em;
    transform: translateX(1%) translateY(18%);
    display: flex; }

.titulo-b {
  align-items: center; }

.grid-conteiner-inicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  display: flex; }
  .grid-conteiner-inicio p {
    font-size: 1.2em;
    transform: translateY(18%); }

.skull-black-ad {
  width: 40%;
  padding: 1%;
  margin-top: 3%; }

.espacio {
  display: flex; }

.texto-izq {
  font-size: 1.2em; }

/* pie pagina */
.pie-pagina {
  width: 100%;
  background-color: black;
  display: grid; }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 75em;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0; }
    .pie-pagina .grupo-1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .pie-pagina .grupo-1 .box img {
      width: 15.6em; }
    .pie-pagina .grupo-1 .box {
      background-color: black; }
      .pie-pagina .grupo-1 .box h2 {
        color: white;
        font-size: 1.2em;
        margin-top: 1em; }
      .pie-pagina .grupo-1 .box p {
        color: white;
        margin-bottom: 0.6em;
        margin-top: 1em; }
    .pie-pagina .grupo-1 .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 2.8em;
      height: 2.8em;
      line-height: 2.8em;
      color: white;
      background-color: #212122;
      text-align: center;
      transition: all 300ms ease; }
  .pie-pagina .grupo-2 {
    background-color: #2e2d2d;
    padding: 0.9em 0.6em;
    text-align: center;
    color: white; }
    .pie-pagina .grupo-2 small {
      font-size: 0.9em; }
