@import "variables";
@import "mixin";


/* contacto */
.titulo-contacto {
    text-align: center;
    font-size: $medidas-contacto;
    padding-top: 1em;
}

.contenido-contacto {
    text-align: center;
    font-size: $medias-index-texto;
}

/* redes sociales contacto */

.svg-conteiner {

    padding: 1.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

    a {
        svg {
            color: $color-principal;
            width: 70%;
        }

        :hover {

            color: $color-hover;
        }
    }

}

/* formulario de contacto */

.info-contact {
    text-align: center;
    font-size: $medias-index-texto;
}

article {
    .contenedor {
        .form {
            background-color: $color-principal;
            width: 100%;
            max-width: 40.6em;
            margin: auto;
            padding: 0.3em 2.1em;
            margin-top: 1.8em;
            padding-bottom: 1.8em;
            border-radius: 0.1em;
            color: $color-secundario;

            .form-label {
                display: block;
                font-size: 1em;
                position: relative;
            }

            .form-input {
                width: 100%;

                .form-textarea {
                    background-color: $color-principal;
                    border: none;
                    outline: none;
                    border-bottom: 0.2em solid;
                    padding: 0.7em;
                    margin-bottom: 1.2em;
                    border-radius: 0.1em;
                    font-size: 0.8em;
                    width: 100%;

                }
            }

            .form-textarea {
                resize: vertical;
                max-height: 9.3em;
                min-height: 3.1em;
                width: 100%;

            }

            .btn-submit {
                width: 100%;
                outline: none;
                font-size: 1em;
                border: none;
                padding: 0.9em 0;
                cursor: pointer;
                background-color: $color-secundario;
                color: $color-principal;
            }

            .form-header {
                .form-title {
                    font-weight: normal;
                    text-align: center;
                    padding: 1em 0;
                }
            }
        }
    }

}


.ubicacion {
    text-align: center;
    font-size: $medidas-contacto;
    padding-top: 1%;
}

.mapa {
    width: 100%;
    height: 80%;
    padding-top: 1%;
}