@import "variables";
@import "mixin";
@import "extend";

/* nosotros */

.titulo-nosotros {
    font-size: $medidas-font-principal;
    display: flex;
    padding: 1%;

}

.grid-conteiner-nosotros {
    display: flex;
    align-items: center;
    padding: 1%;
    font-size: $medias-index-texto;
}

.skate-a {
    width: 41%;
    display: flex;
    flex-wrap: wrap;
}

/* mision */

.grid-conteiner-nosotros-a {
    display: flex;
    align-items: center;
    p{
        font-size: $medias-index-texto;
    }



}

.mision-titulo {
    font-size: $medidas-font-principal;
    align-items: flex-start;
    padding: 1%;
}

.skate-b {
    width: 40%;
    display: flex;
    padding: 1%;
}

/* vision */

.vision-titulo {
    font-size: $medidas-font-principal;
    text-align: center;
    margin-bottom: 2%;


}

.contenido-vision {
    font-size: $medias-index-texto;
    text-align: center;
    margin-bottom: 2%;

}

.nosotros-d {
    width: 100%;
    height: auto;
}