@import "variables";
@import "mixin";

/* productos */
/* encabezado producto */

.producto-contenido {
    font-size: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.titulo-producto {
    font-size: 1.5em;
    padding: 1%;
}

.producto-centro {
    font-size: 1.5em;
    padding-bottom: 1%;
}

/* producto ropa */

.ordenado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    margin-bottom: 2%;
}


.producto-centro {
    text-align: center;
    font-size: 1.8em;
}

.estilo-a {
    width: 33%;
    margin-right: 2%;

    a {
        :hover {
            text-decoration: underline;
        }

        text-decoration: none;
        color: $color-principal;
        font-size: 1em;
    }

    .img-container {
        overflow: hidden;
        height: 400px;
        position: relative;

        img {
            width: 300px;
            position: absolute;
            transition: all 0.5s;
        }

        .promo {
            position: absolute;
            top: 0.5em;
            left: 0;
            font-size: 0.8em;
            background: $color-principal;
            padding: 0.8em;
            color: $color-secundario;
            border-bottom-right-radius: 1.4em;
            border-top-right-radius: 1.4em;
        }
    }
}