@import "variables";
@import "mixin";

/* productos */
/* encabezado producto */

.producto-contenido {
    font-size: $medias-index-texto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.titulo-producto {
    font-size: $medias-index-texto;
    padding: 1%;
}

.producto-centro {
    font-size: $medias-index-texto;
    text-align: center;
}

/* producto ropa */
.ordenado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    margin-bottom: 2%;
}

.estilo-a {
    width: 33%;
    margin-right: 2%;

    a {
        text-decoration: none;
        color: black;
        font-size: 1em;
    }

    :hover {
        text-decoration: underline;
    }
    
    p{
        font-size: $medias-index-texto;
    }

    .img-container {
        overflow: hidden;
        height: 25em;
        position: relative;

        :hover {
            transform: scale(1.2);
        }

        img {
            width: 18.7em;
            position: absolute;
            transition: all 0.5s;
        }

        .promo {
            position: absolute;
            top: 0.5em;
            left: 0;
            font-size: 0.8em;
            background: rgb(0, 0, 0);
            padding: 0.8em;
            color: rgb(255, 255, 255);
            border-bottom-right-radius: 1.4em;
            border-top-right-radius: 1.4em;
        }
    }
}