$color-principal: black;
$color-secundario: white;
$color-terceario: rgb(46, 45, 45);
$color-redes: #212122;
$color-hover: gray;

$medidas-nav-mq: 0.9em;
$medidas-footer-mq: 0.5em;
$medidas-font-mq: 0.6em;
$medidas-font-principal: 1.6em;
$medias-index-texto: 1em;
$medidas-contacto: 1.6em;
$medidas-galeria: 1em;
$medidas-tablet: 0.7em; 